b,
strong {
  font-weight: $font-weight-bold;
}

/************
    TITRES
*************/
.main-title {
  font-size: 2.8em;
  font-family: $font-title;
  font-weight: $font-weight-bold;
  color: $r1-color-white;
  line-height: 1.2em;
  text-shadow: 0 0.5rem 0.1em $r1-color-blue-dark;
  //margin-bottom: 1.2em;
}

.second-title {
  font-size: 1.8em;
  font-family: $font-title;
  font-weight: $font-weight-bold;
  color: $r1-color-blue;
  line-height: 1.2em;
  text-shadow: 0 0.2rem 0.1em $r1-color-black;
}

/************
    TEXTES
*************/
.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-align-justify {
  text-align: justify;
}

.text-align-left {
  text-align: left;
}

.text-bold {
  font-weight: $font-weight-bold;
}

.text-content {
  line-height: 2.8em;
}
