.footer {
  background: $r1-color-white;
  display: flex;
  flex-direction: column;

  &__first-row, &__second-row {
    padding: 5rem 0;
  }

  &__first-row {
    width: 100%;
    max-width: 144rem;
    margin: 0 auto;
    &__social-network, &__contact-me {
      //provisoire
      border: 1px solid #000;
      padding: 0 5rem;
    }
  }

  &__second-row {
    position: relative;
    padding: 2rem 5rem;
    background-color: $r1-color-grey-light;

    .menu-footer-container {
      .footer_navigation {
        display: flex;
        justify-content: center;
      }
    }
  }

  &_navigation {
    .menu-item {
      &:after {
        content: "|";
        padding: 0 3rem;
      }

      &:nth-last-child(1) {
        &:after {
          display: none;
        }
      }
    }
  }

  &__third-row {
    display: flex;
    justify-content: flex-end;
    background: $r1-color-black;
    color: $r1-color-white;
  }

}
