.footer {
  background: $r1-color-blue-x-light;
  display: flex;
  flex-direction: column;

  &__first-row, &__second-row {
    padding: 3rem 0 5rem 0;
  }

  &__first-row {
    width: 95%;
    margin: 0 auto;
    &__social-network, &__contact-me {
    }
  }

  &__second-row {
    position: relative;
    padding: 2rem 5rem;
    background-color: $r1-color-blue-light;

    .wrapper {
      .footer_navigation {
        display: flex;
        justify-content: center;
      }
    }
  }

  &_navigation {
    .menu-item {
      &:after {
        content: "|";
        padding: 0 3rem;
      }

      &:nth-last-child(1) {
        &:after {
          display: none;
        }
      }
    }
  }

  &__third-row {
    display: flex;
    justify-content: flex-end;
    background: $r1-color-black;
    color: $r1-color-white;
    padding: 0.5rem;
  }

}
