.primary-navigation {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  background: $r1-color-white;
  box-shadow: rgb(0 0 0 / 65%) 0px 0px 15px;

  &.hidden {
    max-height: 0;
    overflow: hidden;
  }

  .r1-custom-logo {
    display: flex;
    justify-content: center;
  }

  &__list {
    padding: 5rem 1rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    margin: auto;

    &.hidden {
      max-height: 0;
      padding: 0;
      overflow: hidden;
    }

    &__item {
      position: relative;

      a {
        text-decoration: none;
        //color: $r1-color-white;
        font-size: $r1-font-size-xl;
        @include minWidth(960px) {
          font-size: $r1-font-size-lg;
        }
      }

      @include minWidth(960px) {
        a {
          //color: $r1-color-white;

          //&:hover {
          //  background: $r1-color-blue;
          //  cursor: pointer;
          //}

        }
      }
    }
  }

  @include minWidth(960px) {
    display: flex;

    .r1-custom-logo {
      padding: 0.7rem 0rem 0.7rem 2rem;
    }

    &__list {
      gap:3rem;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-start;
      width: 100%;
      margin: auto 0;
      padding: 0 5rem;

      .current-menu-item {
        border-top: 1px solid $r1-color-black;
        border-bottom: 1px solid $r1-color-black;
        border-radius: $r1-border-radius;
      }

      &__item {
        position: relative;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 3rem 0;
        min-width: 10rem;

        .sub-menu {
          position: absolute;
          top: 7.9rem;
          background: $r1-color-blue;
          opacity:0;
          width: 100%;
          transition: $r1-transition;
          a {
            color: $r1-color-white;
          }
        }

        &:hover {
          border-top: 1px solid $r1-color-black;
          border-bottom: 1px solid $r1-color-black;
          border-radius: $r1-border-radius;
          .sub-menu {
            opacity:1;
            transition: $r1-transition;
            .menu-item {
              border: none;
            }
            .menu-item {
              border-bottom: 1px solid $r1-color-black;
              border-radius: 0;
            }
          }
        }
      }
      .menu-item-has-children {
        &:hover {
          border-radius: $r1-top-border-radius;
        }
      }
    }
  }
}

