#r1-breadcrumbs, .r1-breadcrumbs {
  display: flex;
  align-items: center;

  &__element {
    &--link {
      color: $r1-color-blue-dark;

      &:hover {
        color: $r1-color-white;
      }
    }

    &--last {
      color: $r1-color-white;
    }

  }
}
