.social-links {
  position: relative;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  height: 100%;
  @include minWidth(960px) {
    padding: 0;
    margin-right: 8rem;
    margin-bottom: 0;
  }

  &__title {
    margin: 2rem 0 5rem 0;
    text-align: center;
  }
  &__item {
    padding: 2rem;
    margin: auto;
    border-radius: $r1-border-radius;
    width: fit-content;
    transition: ease-in-out 0.4s;

    &--facebook {
      &:hover {
        transition: ease-in-out 0.4s;
        background: $facebook-color;
        .social-links__item__picto {
          fill: $r1-color-white;
        }
      }
    }
    &--twitter {
      &:hover {
        transition: ease-in-out 0.4s;
        background: $twitter-color;
        .social-links__item__picto {
          fill: $r1-color-white;
        }
      }
    }
    &--instagram {
      &:hover {
        transition: ease-in-out 0.4s;
        background: $instagram-color;
        .social-links__item__picto {
          fill: $r1-color-white;
        }
      }
    }
    &--pinterest {
      &:hover {
        transition: ease-in-out 0.4s;
        background: $pinterest-color;
        .social-links__item__picto {
          fill: $r1-color-white;
        }
      }
    }
    &--whatsapp {
      &:hover {
        transition: ease-in-out 0.4s;
        background: $whatsapp-color;
        .social-links__item__picto {
          fill: $r1-color-white;
        }
      }
    }
    &--youtube {
      &:hover {
        transition: ease-in-out 0.4s;
        background: $youtube-color;
        .social-links__item__picto {
          fill: $r1-color-white;
        }
      }
    }
    &--linkedin {
      &:hover {
        transition: ease-in-out 0.4s;
        background: $linkedin-color;
        .social-links__item__picto {
          fill: $r1-color-white;
        }
      }
    }
    &--tiktok {
      &:hover {
        transition: ease-in-out 0.4s;
        .social-links__item__picto {
          color: #111111;

          filter: drop-shadow(2px 0px 0px #FD3E3E) drop-shadow(-2px -2px 0px #4DE8F4);
        }
      }
    }
  }

  &:after {
    position: absolute;
    content: '';
    background: $r1-color-blue-light;
    width: 85%;
    height: 0.2rem;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;
    @include minWidth(960px) {
      width: 0.2rem;
      height: 85%;
      top: 50%;
      bottom: 50%;
      transform: translate(-50%, -50%);
      right: 0;
      left: inherit;
    }
  }
}
