/*--------------------------------------------------------------
# Breakpoint
--------------------------------------------------------------*/
$breakpoint-960: 960px;
$breakpoint-700: 700px;

/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
$font-weight-normal: 400;
$font-weight-bold: 900;

/*--- Couleurs ---*/
$r1-color-black: #1E2B24;
$r1-color-black-light: #383c35;

$r1-color-white: #FFFFFF;


$r1-color-grey: #d0cfcf;
$r1-color-grey-light: #e7e7e7;
$r1-color-grey-x-light: #f6f6f6;

$r1-color-blue: #748DAA;
$r1-color-blue-dark: #313b4b;
$r1-color-blue-light: #8AAEB5;
$r1-color-blue-x-light: #eaf4ff;

/**
social links colors
 */

$facebook-color: #4267B2;
$twitter-color: #00acee;
$instagram-color: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
$pinterest-color: #E60023;
$whatsapp-color:#00E676;
$youtube-color:#FF0000;
$linkedin-color:#0072b1;
//$tik-tok-color:


$r1-font-size-xl: 2.5rem;
$r1-font-size-lg: 1.8rem;
/*--- Divers ---*/
$r1-border-radius: 0.6rem;
$r1-top-border-radius: 0.6rem 0.6rem 0 0;
$r1-transition: 0.5s ease-in-out;
